/**
*
* {{ properCase name }}
*
*/

import React, { PureComponent } from 'react'
import PropTypes from 'prop-types'
// import styled from 'styled-components'

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl'
import messages from './messages'
{{/if}}

class {{ properCase name }} extends PureComponent { // eslint-disable-line react/prefer-stateless-function
  static propTypes = {

  }

  render() {
    return (
      <div>
      {{#if wantMessages}}
        <FormattedMessage {...messages.header} />
      {{/if}}
      </div>
    )
  }
}

export default {{ properCase name }}
